mixin footer(arr)
    .container_footer
        footer.footer
            ul.footer__menu
                if arr
                    each item in arr
                        li.footer__item-menu
                            a.footer__link.link(href=item.url)= item.title
        .label © 2019, Интернет- магазин мебели