.container_footer {
    background-color: color("gray-lighter");
}

.footer {
    display: flex;
    height: 150px;
    justify-content: flex-start;
    margin-left: 70px;
    align-items: center;
    
    &__item {
		background-color: #fff;
        position: relative;
        margin-right: 4px;
		padding: 4px 15px;
    }

}

.label {
	margin-left: 70px;
	padding-bottom: 40px;
	font-size: 12px;
	color: color("gray");
}

